[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {version = "*", extras = ["srv"]}
flask-pymongo = "*"
python-dotenv = "*"
cvxpy = "*"
numpy = "*"
gunicorn = "*"

[requires]
python_version = "3.9"

[dev-packages]
